<!-- head tag에 들어갈 부분, css, js와 title을 모든 페이지가 공유 -->

<!-- my css -->
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/survey.css">
<link rel="stylesheet" href="/css/search.css">

<!-- my js -->
<script src="/js/search.js"></script>
<script src="/js/survey.js"></script>

<title>당신의 게임</title>
