<!-- my css -->
<link rel="stylesheet" href="/css/master.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/post.css">

<!-- my js -->
<script src="/js/script.js"></script>

<title>당신의 게임</title>
