<!-- my css -->
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/survey.css">
<link rel="stylesheet" href="/css/search.css">

<!-- my js -->
<script src="/js/script.js"></script>

<title>당신의 게임</title>
