/*****************************
**         post page        **
*****************************/

.wrap{
  height: 100%;
  width: 100%;
  top: 200px;
  background-position: center;
  background-size: cover;
  position: absolute;
}
ul, li{
    list-style:none;
    text-align:center;
    line-height:6em;
    padding:0;
    margin:0;
}



#ulTable {margin-top:10px;}


#ulTable > li:first-child > ul > li {
    background-color:#c9c9c9;
    line-height:3em;
    font-weight:bold;
    text-align:center;
}

#ulTable > li > ul {

    padding:0px auto;
    position:relative;
    top : -100px;
    min-width:40px;
}
#ulTable > li > ul > li {
    float:left;
    font-size:12pt;
    border-bottom:1px solid silver;
    vertical-align:baseline;
}

#ulTable > li > ul > li:first-child         {width:70%;} /* 내용 열 크기*/
#ulTable > li > ul > li:first-child +li     {width:30%;} /* 작성자 열 크기*/


.left {
    text-align : left;
}

#container{
  background:  pink;
  width: 300px;
  height: 100px;
  position: relative;
  top:-80px;
  left: -470px;
  margin: 0% auto;
  padding: 5px;
  overflow: hidden;
  color: black;
  font-size: 28px;
  text-align: center;
}

.text-area{
  background: white;
  width: 1080px;
  height: 170px;
  position: relative;
  top : -125px;
  left : -3px;

  margin: 1% auto;
  padding: 5px;
  overflow: hidden;
  color: black;
  font-size: 10px;
  text-align: center;
}
.btn{
  background:gray;
  width: 150px;
  height: 100%;
  box-shadow: none;

  border-width: 0px;
  position: relative;
  left : 35px;
  padding: 30px;
  margin: 40px;
  display:inline;
  outline:none;
  border-radius: 35px;
  transition: .5s;
  font-size: 20px;
  color: white;
  float: left;
}

.input-field {
  width: 800px;
  padding: 70px 10px;
  margin: 5px 0;
  position : relative;
  border-radius: 5px;
  font-size: 14px;
  left :40px;
  border: 3px solid #999;
  outline: none;
  display:inline;
  background: transparent;
  float: left;
}

.post-field {
  background: transparent;
  width: 1100px;
  height: 1000px;
  margin: 0 auto;
}

.page-nav {
  background: transparent;
  width: 100px;
  height: 10px;
  margin: 0 auto;
}

.page-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.page-item {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 5px;
  float: left;
  border-radius: 30px;
  font-size: 25px;
}

.page-link {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: 5px;
  float: left;
  border-radius: 30px;
  font-size: 25px;
}
