<html>
  <head>
  <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>

    <div class="wrap">
      <div class="form-wrap">
        <div class="button-wrap">
          <div id="btn-login"></div>
          <button type="button" class="togglebtn">LOG IN</button>
          <button type="button" class="togglebtn" onclick="location.href='/users/new'">REGISTER</button>
        </div>
        <form id="login" action="/login" method="post" class="input-group">

        <input type="text" id="username" name="username" value="<%= username %>" class="input-field" placeholder="User name or Email" required>
        <% if(errors.username){ %>
        <span><%= errors.username %></span>
        <% } %>

        <input type="password" id="password" name="password" value="" class="input-field" placeholder="Enter Password" required>
        <% if(errors.password){ %>
        <span><%= errors.password %></span>
        <% } %>

        <% if(errors.login){ %>
        <div><%= errors.login %></div>
        <% } %>

        <button class="submit">Login</button>

        </form>
      </div>
    </div>

  </body>
</html>
