<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>

  </head>
  <body>
    <%- include('../partials/nav') %>

    <button type="button" class="answer-1">Nintendo Switch</button>
    <button type="button" class="answer-2">온라인 PC</button>
    <button type="button" class="answer-3">Play station4</button>
    <button type="button" class="answer-4">모바일 게임</button>

    <div class="container">
      <form action="/search" method="get" class="main-form" autocomplete="off">
        <div class="finder">
          <div class="finder__outer">
            <div class="finder__inner">

              <input minLength="2" type="text" name="searchText" value="<%= searchText %>" class="finder__input" placeholder="     게임을 검색하세요">
              <button class="finder__icon" ref="icon" type="submit"></button>

            </div>
          </div>
        </div>
      </form>
    </div>

  </body>

</html>
