<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>

  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="survey-text">Q : 내가 좋아하는 게임 플랫폼은??</div>
    <div class="left-cnt">(1/4)</div>

    <div class="survey-box">
      <button type="button" class="survey-1" onClick="location.href='/surveys/result' ">닌텐도가 좋아요</button>
      <button type="button" class="survey-2" >온라인 PC게임이 좋아요</button>
      <button type="button" class="survey-3">플레이 스테이션이 좋아요</button>
      <button type="button" class="survey-4">핸드폰 게임이 좋아요</button>
    </div>

  </body>
</html>
