<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>

  </head>
  <body>
    <%- include('../partials/nav') %>

    <div id="survey-text-1"></div>
    <div id="survey-text-2"></div>
    <div id="left-cnt">(2/3)</div>

    <div id="survey-box">
      <button type="button" id="survey-1"></button>
      <button type="button" id="survey-2"></button>
      <button type="button" id="survey-3"></button>
      <button type="button" id="survey-4"></button>
    </div>

  <script>
    var type = getParameterByName('type');
    var text1 = document.getElementById("survey-text-1");
    var text2 = document.getElementById("survey-text-2");

    var survey = document.getElementById("survey-box");

    var box1 = document.getElementById("survey-1");
    var box2 = document.getElementById("survey-2");
    var box3 = document.getElementById("survey-3");
    var box4 = document.getElementById("survey-4");

    text1.innerHTML = "Q: 당신은 심심함을 이겨내기 위해 소설을 읽으려 합니다. ";
    text2.innerHTML = "어떤 이야기가 담긴 책을 고르실 건가요? "

    box1.innerHTML = "박진감 넘치는 이야기";
    box2.innerHTML = "마음이 따뜻해 지는 이야기";
    box3.innerHTML = "즐거워지는 이야기";
    box4.innerHTML = "가볍게 읽을 수 있는 이야기";

    if(type == 1) {

      box1.addEventListener("click", function() {
        secondSurvey(1, 1);
      })
      box2.addEventListener("click", function() {
        secondSurvey(1, 2);
      })
      box3.addEventListener("click", function() {
        secondSurvey(1, 3);
      })
      box4.addEventListener("click", function() {
        secondSurvey(1, 4);
      })
    }
    else if(type == 2) {
      box1.addEventListener("click", function() {
        secondSurvey(2, 1);
      })
      box2.addEventListener("click", function() {
        secondSurvey(2, 2);
      })
      box3.addEventListener("click", function() {
        secondSurvey(2, 3);
      })
      box4.addEventListener("click", function() {
        secondSurvey(2, 4);
      })
    }
    else {
      box1.addEventListener("click", function() {
        secondSurvey(3, 1);
      })
      box2.addEventListener("click", function() {
        secondSurvey(3, 2);
      })
      box3.addEventListener("click", function() {
        secondSurvey(3, 3);
      })
      box4.addEventListener("click", function() {
        secondSurvey(3, 4);
      })
    }
  </script>

  </body>
</html>
