<!DOCTYPE html>
<style>
  body{
        background-color: pink;
  }
  h2
    {
      background-color: skyblue;
      color: white;
      width: 560px;
      height: 50px;
    }
</style>

<html>
    <head>
        <link rel="stylesheet" href="설문결과.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
      <div id="logobox"><a href="https://www.naver.com"><img src="img/Logo2.png" border="0" width="300" height="150"></a></div>
      <div id="user-info">User infomation</div>
      <div class="wrap">
          <div id="container"></br><B>당신의 게임은?</B></div>
        </br>
          <!--<center><a href="https://www.nintendo.co.kr/software/switch/acbaa/index.html"><img src="img/모동숲.jpg" border="0" width="560" height="315"></a> <!--&nbsp&nbsp&nbsp-->
          <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/gQMsAdVneq0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></video></center></br>
          <div id="container2"><B>동물의 숲</B></div> -->
          <div id="container_A">
            <center><a href="https://www.nintendo.co.kr/software/switch/acbaa/index.html"><img src="img/모동숲.jpg" border="0" width="560" height="315"></a> &nbsp&nbsp&nbsp
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gQMsAdVneq0?autoplay=1" frameborder="0"></iframe></center></br> <!--크롬에서는 자동재생 불가/익스에서는 가능-->
          </div>
          <div id="container2"><B>동물의 숲</B></div>
          <div id="container_B"><audio src="someone like you.m4a" controls></audio></div>
          <center><a href="게시판.html"><button id="btn"><B>한번 더 하기</B></button></a>&nbsp&nbsp&nbsp
          <a href="1_로그인 페이지.html"><button id="btn"><B>메인으로</B></button></a></center>

      </div>
    </body>
</html>
